node_modules/
release/
_*/
_*
*.zip
*.bak
task-artifacts/
package-lock.json

# Build artifacts
_new_app.asar
release/*.exe
release/*.blockmap
release/win-unpacked/
release/builder-debug.yml
release/latest.yml
*.bak
